#header {
    background-color: var(--dark-blue-email-bg);
    padding-bottom: 120px;
}

#header h1 {
    color: var(--white);
    font-weight: 700;
    z-index: 1;
    line-height: 60px;
}

#header p {
    font-size: 20px;
    color: var(--white);
    z-index: 1;
}

.hero {
    max-width: 700px;
    width: 100%;
}

.hero img {
    width: 100%;
}

button {
    border: none;
    padding: 20px 100px;
    border-radius: 30px;
    background-color: var(--blue-cta-gradient);    
    color: var(--white);
    text-transform: capitalize;
    font-weight: 700;
    z-index: 1;
    transition: 0.2s;
}

button:hover {
    background-color: var(--cyan-cta-gradient);   
    transition: 0.3s
}

