#how-it-works {
    background-color: var(--dark-blue-main-bg);
    color: var(--white);
    padding-bottom: 150px;
}

#how-it-works h1 {
    font-weight: 700;
    max-width: 500px;
}

#how-it-works a {
    color: var(--cyan-cta-gradient);
    text-decoration: none;
    border-bottom: 1px solid var(--cyan-cta-gradient);
    padding-bottom: 5px;
}

#how-it-works p {
    max-width: 550px
}

.how-img img {
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .how-content {
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center;
    }   

}
